%% -*- erlang -*-
{cover_enabled, false}.
{deps, [
]}.

{lib_dirs, ["deps"]}.
{erl_opts, [debug_info]}.

{port_specs, [
    {"priv/moon_nif.so", ["c_src/*.cpp", "c_src/luasocket/*.c", "c_src/pbc/*.c", "c_src/cjson/*.c", "c_src/luaxml/*.c"]}
]}.

{port_env, [
    {"linux", "CXXFLAGS", "$CXXFLAGS -O3 -I/usr/include/ -I/usr/local/include/ -I/usr/include/mongo/ -I/usr/local/include/mongo/"},
    {"linux", "LDFLAGS", "$LDFLAGS -L/usr/lib -L/usr/local/lib -lqb -lboost_thread -lboost_filesystem -lluajit-5.1"}
]}.
